version: '3'

services:
  dbfuse-ai:
    container_name: "dbfuse-ai"
    image: shashikumarkasturi/dbfuse-ai:latest
    restart: always
    platform: linux/amd64 
    ports:
      - "5000:5000"
    environment:
      - MYSQL_URL=mysql://root:root@host.docker.internal:3306