<ng-container *ngIf="explorerComponent; else noExplorer">
    <ng-container
        *ngComponentOutlet="explorerComponent; inputs: { dbType: dbType, databases: databases }"
    ></ng-container>
</ng-container>
<ng-template #noExplorer>
    <div
        class="h-full flex items-center justify-center text-sm text-muted-foreground"
    >
        <span *ngIf="loading">Loading explorer...</span>
        <span *ngIf="!loading && loadError">{{ loadError }}</span>
        <span *ngIf="!loading && !loadError">No explorer is registered for "{{ dbType }}".</span>
    </div>
</ng-template>
